<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="Imagenes/camara 3.ico" type="image/x-icon">
  <title>Inventario</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="index.css">
</head>


<body>

  <header>
    <div class="container">
        <a class="logo">
            <img src="Imagenes/LogoB.png" width="150" alt="">
        </a>
            <nav>
              <a href="index.html">HOME</a>
                <a href="carrito.html">PLANES</a>
                <a href="admin.html">ADMINISTRAR</a>
            </nav>
</div>

</header>


<section id="planes">
  <div class="nuestros-planes">
      <h2>NUESTROS PLANES</h2>
      <p>Selecciona el plan que prefieras. </p>
          <div>
                      <div v-for="producto in productos" :key="producto.codigo" class="planes"> 
                              <h3>{{ producto.nombre }}</h3>
                              <p>{{ producto.descripcion}}</p>
                              <button @click="agregarAlCarrito(producto)" class="carrito">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</button>
                              <button @click="restarDelCarrito(producto)" class="carrito">&nbsp;&nbsp;<b>-</b>&nbsp;&nbsp;</button>
                              <h3>$ {{ producto.precio }}</h3>
                      </div>
          </div>

          <div v-if="mostrarCarrito">
            <h3>Plan en el carrito:</h3>
            <table>
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in carrito" :key="item.codigo">
                  <td>{{ item.codigo }}</td>
                  <td>{{ item.nombre }}</td>
                  <td align="right">{{ item.cantidad }}</td>
                  <td align="right">&nbsp; &nbsp; {{ item.precio }}</td>
                  <td align="right">&nbsp; &nbsp; {{ subtotal(item) }}</td>
                </tr>
                <tr>
                  <td colspan="4" align="right"><b>Total:</b></td>
                  <td align="right"><b>{{ totalPrecio }}</b></td>
                </tr>
              </tbody>
            </table>
          </div>
      
          <div v-if="!mostrarCarrito" class="contenedor-centrado">
            <button class="button-menuadmin" @click="obtenerCarrito">Mostrar carrito</button>
          </div>
      

          
  </div>
</section>



  <script>
    //const URL = "http://127.0.0.1:5000/"
    const URL = "https://robertocavalieri.pythonanywhere.com/"


    const planes = Vue.createApp({
      data() {
        return {
          productos: [],
          mostrarCarrito: false,
          carrito: [],
          totalPrecio: 0,
        }
      },
      created() {
        this.obtenerProductos()
      },
      methods: {
        obtenerProductos() {
          fetch(URL + 'productos')
            .then(response => response.json())
            .then(data => {
              this.productos = data
            })
            .catch(error => {
              console.error(URL + 'productos', error)
              alert('Error al obtener los productos.')
            })
        },
        agregarAlCarrito(producto) {
          fetch(URL + 'carrito', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              codigo: producto.codigo,
              cantidad: 1, // Agregamos una unidad al carrito
            }),
          })
            .then(response => response.json())
            .then(data => {
              alert(data.message)
            })
            .catch(error => {
              console.error('Error al agregar el producto al carrito:', error)
              alert('Error al agregar el producto al carrito.')
            })
        },
        restarDelCarrito(producto) {
          fetch(URL + 'carrito', {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              codigo: producto.codigo,
              cantidad: 1, // Restamos una unidad del carrito
            }),
          })
            .then(response => response.json())
            .then(data => {
              alert(data.message)
            })
            .catch(error => {
              console.error('Error al restar el producto del carrito:', error)
              alert('Error al restar el producto del carrito.')
            })
        },
         obtenerCarrito() {
          fetch(URL + 'carrito')
            .then(response => response.json())
            .then(data => {
              this.carrito = data
              this.mostrarCarrito = true
              this.calcularTotalPrecio(); // Llamamos a la función para calcular el total de precios
            })
            .catch(error => {
              console.error('Error al obtener el carrito:', error)
              alert('Error al obtener el carrito.')
            })
        },
        subtotal(item) {
          return item.precio * item.cantidad;
        },
        calcularTotalPrecio() {
          this.totalPrecio = this.carrito.reduce((total, item) => total + this.subtotal(item), 0);
        },
      },
    })
    planes.mount('#planes')
  </script>
<footer>
  <div class="containerRedes">
      <ul class="wrapper">
          <li class="icon facebook">
              <span class="tooltip">Facebook</span>
              <span class="circle"><img src="Imagenes/FBicon.jpg"></span>
              <span><i class="fab fa-facebook-f"></i></span>
              <div class="popup">Red social en desarrollo</div> <!-- Cartel emergente -->
          </li>
          <li class="icon twitter">
              <span class="tooltip">Twitter</span>
              <span class="circle"><img src="Imagenes/TWicon.png"></span>
              <span><i class="fab fa-twitter"></i></span>
              <div class="popup">Red social en desarrollo</div> <!-- Cartel emergente -->
          </li>
          <li class="icon instagram">
              <span class="tooltip">Instagram</span>
              <span class="circle"><img src="Imagenes/IGicon.png"></span>
              <span><i class="fab fa-instagram"></i></span>
              <div class="popup">Red social en desarrollo</div> <!-- Cartel emergente -->
          </li>
      </ul>
  </div>
  <script src="script.js"></script>
  <p> Codo a Codo 2023 - 1° Cuatrimestre</p>
</footer>
</body>


</html>
